* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 20rem;
}

body {
  background-color: #333;
  color: white;
}

.settings {
  margin: 2rem auto;
  width: 18rem;
}

.sort-by-label {
  font-size: 16px;
}

.sort-select {
  margin-left: 0.5rem;
  background: transparent;
  color: white;
}

.select-option {
  background-color: #333;
}

.btn {
  transition: all 0.3s;
  border-radius: 8px;
  padding: 0.5rem 0;
  min-width: 8.8rem;
  background-color: #999;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
  color: white;
}

.btn-clear-soundmarks {
  margin-top: 2rem;
  border: 2px solid #d0342c;
  background-color: transparent;
  color: #d0342c;
}

.btn-clear-soundmarks:hover {
  background-color: #d0342c;
  color: white;
}

.clear-soundmarks-confirmation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  height: 2.2rem;
}

.clear-soundmarks-confirmation p {
  font-size: 16px;
  font-weight: 600;
}

.btn-clear-soundmarks-confirmation {
  transition: all 0.3s;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.btn-confirm-yes {
  border: 2px solid #d0342c;
  color: #d0342c;
}

.btn-confirm-yes:hover {
  background-color: #d0342c;
  color: white;
}

.btn-confirm-no {
  border: 2px solid #3eb489;
  color: #3eb489;
}

.btn-confirm-no:hover {
  background-color: #3eb489;
  color: white;
}

.import-export button {
  display: block;
}

.import-export {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 18rem;
}

.save-settings {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  width: 18rem;
  height: 2rem;
}

.btn-save-settings {
  width: 100%;
}

.btn-save-settings:hover {
  color: white;
}
