@font-face {
  font-family: "Overpass Mono";
  src: url("./assets/fonts/OverpassMono-Regular_1.ttf") format("truetype");
  font-weight: "normal";
  font-style: "normal";
}

:root {
  --bg-none: transparent;
  --bg-orange: #dc4900;
  --bg-red: #d0342c;
  --bg-darkgray: #1c1c1c;

  --col-body: white;
  --col-offwhite: #ddd;
  --col-orange: #dc4900;
  --col-red: #d0342c;
  --col-darkgray: #1c1c1c;

  --bd-offwhite: 1px solid #ddd;
  --bd-orange: 1px solid #dc4900;
  --bd-red: 1px solid #d0342c;
  --bd-separator: 1px solid #333;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--bg-darkgray);
  color: var(--col-body);
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  width: 600px;
  height: 600px;
  padding: 48px 32px;
}

.separator {
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: var(--bd-separator);
}

#sep_disclaimer {
  margin-top: 42px;
}

.sort-by-label {
  font-size: 20px;
}

.sort-select {
  cursor: pointer;
  border: 1px solid #555;
  margin-left: 0.5rem;
  background: var(--bg-none);
  color: var(--col-body);
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.select-option {
  background-color: var(--bg-darkgray);
}

.btn {
  transition: all 0.3s;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.btn p {
  margin-top: 4px;
}

.btn-clear-soundmarks {
  border: var(--bd-red);
  background-color: transparent;
  color: var(--col-red);
}

.btn-clear-soundmarks:hover {
  background-color: var(--col-red);
  color: var(--col-body);
}

.clear-soundmarks-confirmation {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.clear-soundmarks-confirmation p {
  font-size: 16px;
  font-weight: 600;
}

.btn-confirm-yes,
.btn-confirm-no {
  flex-grow: 1;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.btn-confirm-yes {
  border: var(--bd-red);
  color: var(--col-red);
}

.btn-confirm-yes:hover {
  background-color: var(--bg-red);
  color: var(--col-body);
}

.btn-confirm-no {
  border: var(--bd-offwhite);
  color: var(--col-offwhite);
}

.btn-confirm-no:hover {
  background-color: var(--col-offwhite);
  color: var(--col-darkgray);
}

.import-export {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 2rem;
}

.import-export button {
  display: block;
}

.btn-import,
.btn-export {
  flex-grow: 1;
  border: var(--bd-offwhite);
  background-color: var(--bg-none);
  color: var(--col-offwhite);
}

.btn-import:hover,
.btn-export:hover {
  background-color: var(--col-offwhite);
  color: var(--col-darkgray);
}

.save-settings {
  margin-top: 20px;
  height: 32px;
}

.btn-save-settings {
  border: var(--bd-orange);
  background-color: var(--bg-none);
  width: 100%;
  color: var(--col-orange);
}

.btn-save-settings:hover {
  background-color: var(--col-orange);
  color: var(--col-body);
}

.disclaimer p {
  font-size: 14px;
}

.text-review {
  margin-top: 16px;
  font-size: 18px;
}

.text-review a {
  color: var(--bg-orange);
}
