:root {
  --bg-none: transparent;
  --bg-orange: #dc4900;
  --bg-red: #d0342c;
  --bg-darkgray: #1c1c1c;

  --col-body: white;
  --col-offwhite: #ddd;
  --col-orange: #dc4900;
  --col-red: #d0342c;
  --col-darkgray: #1c1c1c;

  --bd-offwhite: 1px solid #ddd;
  --bd-orange: 1px solid #dc4900;
  --bd-red: 1px solid #d0342c;
  --bd-separator: 1px solid #333;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 20rem;
}

body {
  background-color: var(--bg-darkgray);
  color: var(--col-body);
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.separator {
  margin-top: 2rem;
  border-top: var(--bd-separator);
}

.settings {
  margin: 2rem auto;
  width: 18rem;
}

.sort-by-label {
  font-size: 16px;
}

.sort-select {
  margin-left: 0.5rem;
  background: var(--bg-none);
  color: var(--col-body);
}

.select-option {
  background-color: var(--bg-darkgray);
}

.btn {
  transition: all 0.3s;
  border-radius: 4px;
  padding: 0.5rem 0;
  min-width: 8.8rem;
  cursor: pointer;
}

.btn-clear-soundmarks {
  margin-top: 2rem;
  border: var(--bd-red);
  background-color: transparent;
  color: var(--col-red);
}

.btn-clear-soundmarks:hover {
  background-color: var(--col-red);
  color: var(--col-body);
}

.clear-soundmarks-confirmation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  height: 2.2rem;
}

.clear-soundmarks-confirmation p {
  font-size: 16px;
  font-weight: 600;
}

.btn-clear-soundmarks-confirmation {
  transition: all 0.3s;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.btn-confirm-yes {
  border: var(--bd-red);
  color: var(--col-red);
}

.btn-confirm-yes:hover {
  background-color: var(--bg-red);
  color: var(--col-body);
}

.btn-confirm-no {
  border: var(--bd-offwhite);
  color: var(--col-offwhite);
}

.btn-confirm-no:hover {
  background-color: var(--col-offwhite);
  color: var(--col-darkgray);
}

.import-export button {
  display: block;
}

.import-export {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 18rem;
}

.btn-import,
.btn-export {
  border: var(--bd-offwhite);
  background-color: var(--bg-none);
  color: var(--col-offwhite);
}

.btn-import:hover,
.btn-export:hover {
  background-color: var(--col-offwhite);
  color: var(--col-darkgray);
}

.save-settings {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  width: 18rem;
  height: 2rem;
}

.btn-save-settings {
  border: var(--bd-orange);
  background-color: var(--bg-none);
  width: 100%;
  color: var(--col-orange);
}

.btn-save-settings:hover {
  background-color: var(--col-orange);
  color: var(--col-body);
}
