* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  width: 28rem;
}

body {
  margin: 0 auto;
  width: 28rem;
  background-color: #1c1c1c;
}

.play-status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 28rem;
  height: 5rem;
  background-color: #333;
  color: white;
}

.now-playing {
  position: relative;
  z-index: 2000;
  margin-top: 0.5rem;
  width: 16rem;
  height: 3rem;
}

.now-playing-text {
  z-index: 2000;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  font-style: italic;
  font-size: 12px;
  color: white;
}

.marquee:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 1.1rem;
  left: 0;
  width: 95%;
  height: 1.3rem;
  background: linear-gradient(to right, #333 5%, transparent, #333 98%);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.5rem;
  width: 14.5rem;
  cursor: pointer;
  color: white;
}

.marquee span {
  display: inline-block;
  animation: marquee linear infinite;
  padding-left: 100%;
  text-indent: 0;
  font-size: 14px;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn-soundcloud-action {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 2.5rem;
  padding: 0 0.75rem;
  background-color: #ff5500;
}

.btn-soundcloud-action:hover {
  background-color: #dc4900;
}

#btn_add_soundmark {
  position: relative;
  z-index: 2000;
  right: 0.8rem;
}

#settings_link {
  position: relative;
  margin-right: 0.5rem;
  font-weight: bold;
  color: white;
}

.not-playing-info {
  margin-top: 0.2rem;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

.btn-soundcloud-action p {
  font-size: 16px;
  color: white;
}

.soundmarks-empty {
  display: none;
  margin-top: 1.5rem;
  font-size: 16px;
  text-align: center;
  color: white;
}

#soundmarks_list {
  width: 28rem;
  max-height: calc(2.5rem * 12);
  background-color: #1c1c1c;
}
.soundmarkListItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  width: 28rem;
  height: 2.5rem;
  padding: 1rem 0.5rem 1rem;
  color: white;
}

.soundmarkListItem:hover {
  background-color: #282828;
}

.soundmarkListItemText {
  min-width: 16.5rem;
  font-size: 12px;
  font-weight: 400;
}

.soundmarkTrackTimestamp {
  width: 4rem;
}

button {
  background: transparent;
  cursor: pointer;
}
