:root {
  --bg-none: transparent;
  --bg-orange: #dc4900;
  --bg-lightgray: #282828;
  --bg-darkgray: #1c1c1c;
  --bg-black-semi: rgba(0, 0, 0, 0.5);
  --bg-marquee-mask: linear-gradient(
    to right,
    #1c1c1c 5%,
    transparent,
    #1c1c1c 98%
  );

  --col-marquee: white;
  --col-offwhite: #ddd;
  --col-orange: #dc4900;

  --bd-orange: 1px solid #dc4900;
  --bd-separator: 1px solid #333;

  --sh-btn-soundcloud-action: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  z-index: -10;
}

::-webkit-scrollbar-track {
  background: var(--bg-none);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-black-semi);
  padding-right: 1rem;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-orange);
}

li {
  list-style-type: none;
}

html {
  width: 28rem;
  height: 30rem;
}

body {
  margin: 0 auto;
  width: 28rem;
  background-color: var(--bg-darkgray);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.play-status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--bg-none);
  color: var(--col-offwhite);
  z-index: 1000;
}

.now-playing {
  position: relative;
  z-index: 2000;
  margin-top: 0.5rem;
  width: 16rem;
  height: 3rem;
}

.now-playing-text {
  z-index: 2000;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  font-size: 12px;
  color: var(--col-offwhite);
}

.marquee:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 1.1rem;
  left: 0;
  width: 95%;
  height: 1.3rem;
  background: var(--bg-marquee-mask);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.5rem;
  width: 14.5rem;
  cursor: pointer;
  color: var(--col-marquee);
}

.marquee span {
  display: inline-block;
  animation: marquee linear infinite;
  padding-left: 100%;
  text-indent: 0;
  font-size: 18px;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn-soundcloud-action {
  transition: all 0.3s;
  border: var(--bd-orange);
  border-radius: 4px;
  box-shadow: var(--sh-btn-soundcloud-action);
  height: 2.5rem;
  padding: 0 0.75rem;
}

.btn-soundcloud-action p {
  font-size: 16px;
  color: var(--col-orange);
}

#btn_add_soundmark {
  position: relative;
  z-index: 2000;
  right: 0.8rem;
}

#settings_link {
  position: relative;
  margin-right: 0.5rem;
  font-weight: bold;
}

.not-playing-info {
  margin-top: 0.2rem;
  font-size: 16px;
  font-weight: 400;
}

.separator {
  border-top: var(--bd-separator);
}

.soundmarks-empty {
  display: none;
  margin-top: 1.5rem;
  font-size: 16px;
  text-align: center;
  color: var(--col-offwhite);
}

.soundmark-list {
  max-height: 100%;
  overflow-y: scroll;
}

.soundmarkListItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  width: 100%;
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--col-offwhite);
}

.soundmarkListItem:hover {
  background-color: var(--bg-lightgray);
}

.soundmarkListItemText {
  min-width: 16.5rem;
  font-size: 14px;
  font-weight: 400;
}

.soundmarkTrackTimestamp {
  width: 6rem;
  text-align: right;
  font-size: 16px;
}

button {
  background: var(--bg-none);
  cursor: pointer;
}
