@font-face {
  font-family: "Overpass Mono";
  src: url("./assets/fonts/OverpassMono-Regular_1.ttf") format("truetype");
  font-weight: "normal";
  font-style: "noamrl";
}

:root {
  --bg-none: transparent;
  --bg-orange: #dc4900;
  --bg-lightgray: #282828;
  --bg-darkgray: #1c1c1c;
  --bg-darkgray-2: #191919;
  --bg-darkgray-3: #202020;
  --bg-black-semi: rgba(0, 0, 0, 0.5);
  --bg-marquee-mask: linear-gradient(
    to right,
    #1c1c1c 5%,
    transparent,
    #1c1c1c 98%
  );

  --col-marquee: white;
  --col-offwhite: #ddd;
  --col-orange: #dc4900;

  --bd-orange: 1px solid #dc4900;
  --bd-separator: 1px solid #333;

  --sh-btn-soundcloud-action:
    rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  z-index: -10;
}

::-webkit-scrollbar-track {
  background: var(--bg-none);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-black-semi);
  padding-right: 1rem;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-orange);
}

li {
  list-style-type: none;
}

button {
  background: var(--bg-none);
  cursor: pointer;
}

body {
  background-color: var(--bg-darkgray);
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  height: 600px;
  width: 600px;
}

.play-status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--bg-none);
  color: var(--col-offwhite);
  z-index: 1000;
}

.now-playing {
  position: relative;
  z-index: 2000;
  margin-top: 6px;
  width: 16rem;
  height: 48px;
}

.now-playing-text {
  z-index: 2000;
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
  font-size: 14px;
  color: var(--col-offwhite);
}

.marquee:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 1.1rem;
  left: 0;
  width: 95%;
  height: 2rem;
  background: var(--bg-marquee-mask);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.5rem;
  width: 14.5rem;
  cursor: pointer;
  color: var(--col-marquee);
}

.marquee span {
  display: inline-block;
  animation: marquee linear infinite;
  padding-left: 100%;
  text-indent: 0;
  font-size: 18px;
  font-weight: bold;
}

@keyframes marquee {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-100%);
  }
}

.btn-soundcloud-action {
  transition: all 0.3s;
  border: var(--bd-orange);
  border-radius: 4px;
  box-shadow: var(--sh-btn-soundcloud-action);
  height: 2.5rem;
  padding: 0 0.75rem;
}

.btn-soundcloud-action p {
  font-size: 16px;
  font-family: "Overpass Mono";
  color: var(--col-orange);
}

#btn_add_soundmark {
  position: relative;
  z-index: 2000;
  right: 0.8rem;
}

#text_add_soundmark {
  margin-top: 4px;
}

#settings_link {
  position: relative;
  margin-right: 0.5rem;
  font-weight: bold;
}

img {
  transition: transform 0.5s ease;
  transform-origin: center;
}

img:hover {
  transform: rotate(90deg);
}

.not-playing-info {
  margin-top: 0.2rem;
  font-size: 14px;
  font-weight: 400;
}

.separator {
  border-top: var(--bd-separator);
}

.soundmarks-empty {
  display: none;
  margin-top: 1.5rem;
  font-size: 16px;
  text-align: center;
  color: var(--col-offwhite);
}

.soundmark-list {
  max-height: 520px;
  overflow-y: scroll;
}

.soundmark-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  color: var(--col-offwhite);
}
.soundmark-list-item:nth-child(even) {
  background-color: var(--bg-darkgray-2);
}

.soundmark-list-item:nth-child(odd) {
  background-color: var(--bg-darkgray-3);
}

.soundmark-list-item:hover {
  background-color: var(--bg-lightgray);
}

.soundmark-list-item-text {
  width: 500px;
  font-size: 16px;
  font-weight: 400;
}

.soundmark-list-item-at-symbol {
  font-size: 24px;
}

.soundmark-track-timestamp {
  width: 6rem;
  text-align: right;
  font-size: 16px;
}

.btn-delete-soundmark {
  margin-left: 16px;
}
