@font-face {
  font-family: "Overpass Mono";
  src: url("../assets/fonts/OverpassMono-Regular_1.ttf") format("truetype");
  font-weight: "normal";
  font-style: "normal";
}

:root {
  --bg-none: transparent;
  --bg-orange: #dc4900;
  --bg-darkgray: #1c1c1c;

  --col-select-file: white;
  --col-offwhite: #ddd;
  --col-orange: #dc4900;

  --bd-orange: 1px solid #dc4900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-darkgray);
}
html,
body {
  width: 100%;
}

h1,
h2 {
  color: var(--col-offwhite);
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: "Overpass Mono", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 10rem auto 0;
  width: 30rem;
  text-align: center;
}

#btn_select_file {
  cursor: pointer;
  background-color: var(--bg-none);
  border: var(--bd-orange);
  color: var(--col-orange);
  font-size: 18px;
  border-radius: 4px;
  width: 20rem;
  height: 3rem;
  margin-top: 2rem;
  transition: all 0.3s;
}
#btn_select_file:hover {
  background-color: var(--bg-orange);
  color: var(--col-select-file);
}

#import_success {
  display: none;
  margin-top: 1rem;
}
