name: publish

on:
  push:
    branches:
      - develop
      - main

  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: check versions
        uses: ./.github/actions/check-versions

      - name: upload chrome version
        uses: ./.github/actions/upload-artifact
        with:
          browser-type: chrome

      - name: upload firefox version
        uses: ./.github/actions/upload-artifact
        with:
          browser-type: firefox
